
/* section--1 */
.section-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/08.jpg');
    height: 752px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

/* header css */

.logo-img {
    width: 50%;
}

.section-1 .section-div-1 ul li a {
    color: white;
    text-align: center;
    font-weight: 900;
}

.header-order-btn {
    background-color: #C06522;
    border: 2px solid #C06522;
    font-size: 15px;
    padding: 8px 30px;
    border-radius: 10px;
    font-weight: 900;
}

/* item css */
.main-body-div .section-1 {
    display: block;
    position: relative;
}

.main-body-div .section-1 .section-div-1 .sub-section-div .item h1 {
    font-size: 77px;
    text-align: center;
    color: #F4ECE8;
    font-weight: 900;
    line-height: 5rem;
}

.main-body-div .section-1 .section-div-1 .sub-section-div .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 45%;
}

.main-body-div .section-1 .section-div-1 .sub-section-div .item p {
    color: #F4ECE8;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.text {
    font-size: 15px !important;
    font-weight: 800;
}

/* inner-btn-div */
.main-body-div .section-1 .section-div-1 .sub-section-div .item .inner-btn-div {
    display: flex;
    justify-content: center;
}

.main-body-div .section-1 .section-div-1 .sub-section-div .item .inner-btn-div button {
    font-size: 15px;
    padding: 14px 30px;
    border-radius: 10px;
    font-weight: 900;
    margin: 20px 10px;
    text-align: center;
}

.main-body-div .section-1 .section-div-1 .sub-section-div .item .inner-btn-div .btn-1 {
    background-color: #C06522;
    border: 2px solid #C06522;

}

.main-body-div .section-1 .section-div-1 .sub-section-div .item .inner-btn-div .btn-2 {
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
}

.main-body-div .section-1 .section-div-1 .sub-section-div .item .inner-btn-div .btn-1:hover {
    background-color: #369392;
    border: 2px solid #369392;

}

.main-body-div .section-1 .section-div-1 .sub-section-div .item .inner-btn-div .btn-2:hover {
    background-color: white;
    border: 2px solid #fff;
    color: black;
}

/* svg css */

.section-divider-bottom-001 {
    width: 100%;
    height: 2rem;
    position: absolute;
    top: auto;
    bottom: -1px;
    left: 0;
    overflow: hidden;
    transform: rotate(180deg);
}